* {
    box-sizing: border-box;
}

body {
    background-color: #FFF4F1;
}

h2 {
    font-size: 48px;
}

.serif-bold {
    font-weight: 700;
    font-family: 'Volkhov', serif;
}

.header {
    padding: 18px;
    background: url(../images/bg_about.png) no-repeat 50% 50%;
}

.header .header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 nav {
    margin-left: 120px;
}

 nav ul {
    margin: 0;
    padding: 0;

}

 nav ul li {
    display: inline-block;
    margin-left: 16px;
    font-size: 18px;
    opacity: 40%;
    
    color:#FFF;
    transition: 0.5s;
}

nav ul li:hover {

    opacity: 100%;
}



.header nav ul li a{
    text-decoration: none;
    color:#0C3533;
}
.header nav ul li a:hover {
    text-decoration: none;
    color:#0C3533;
}

 .logo-nav {
    display: flex;
    align-items: center;
}

.button {
    /* background-color: #fff; */
    padding: 8px 38px;

    border-radius: 30px;
    /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%); */

    text-decoration: none;
    font-family: 'volkhov', serif;
    font-weight: 700;
    font-size: 18px;

    transition:  0.35s;
}
.button:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}

.btn-white {
    background-color: #fff;
    color: #000;

}
.btn-white:hover {
    color: #000;
}

.btn-green {
    background-color: #698A7A;
    color: #F1FAEE;
}
.btn-green:hover {
    color: #F1FAEE;
}

.header .hero-text {
    padding: 300px 0;
}

.header .hero-text h1{
    font-size: 72px;
    color: #FFF;
}

.intro {
    padding: 80px 0;
    background-color: #0C3533;
    text-align: center;
    color: #FFF4F1;
}

.beginning {
    padding: 80px 0;
    background-color: #698A7A;
    text-align: center;
    color: #FFF4F1;
}

.beginning img {
    margin-bottom: 30px;

    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}




.footer {
    background-color: #0C3533;
    padding: 18px 0;
    color: #F1FAEE;
}

.footer .container {
    display: flex;
    justify-content: space-between
}

.footer nav ul li {
    color: #F1FAEE;
    font-size: 14px;
}

.footer .container .soc-med{
    display: flex;
    align-items: center;
}

.footer .container .soc-med a i {
    color:#F1FAEE;
    opacity: 40%;
    /* margin-left: 24px;  */
    padding: 0 12px;
    transition: 0.5s;
}
.footer .container .soc-med a i:hover {
    opacity: 100%;
    
}

.active {
    opacity: 100%;
    /* border-bottom: solid 3px #FFF; */
}