* {
    box-sizing: border-box;
    
}

body {
    background-color: #F1FAEE!important;
    font-family: 'Roboto' sans-serif;
    color: #606060;
    font-size: 18px;
    font-weight: 400;
}

.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}



.serif-bold {
    font-weight: 700;
    font-family: 'Volkhov', serif;
}

.header {
    padding: 18px;
}

/* .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* nav {
    margin-left: 120px;
} */

nav ul {
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    margin-right: 48px;
    font-size: 18px;
    opacity: 60%;

    color:#0C3533;
    transition: 0.35s;
}

nav ul li:hover {
    transform: translateY(-4px);
    opacity: 100%;
}

.header-light nav ul li a{
    text-decoration: none;
    color:#0C3533;
}
.header-light nav ul li a:hover {
    text-decoration: none;
    color:#0C3533;
    transform: translateY(-4px);
}



.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    .header-logo .logo {
        width: 200px;
    }
}


.header-close {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.header-button-mobile {
    display: none;
}

.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    nav {
        margin-bottom: 20px;
    }

    nav ul {
        text-align: end;
    }

    nav ul li {
        margin-right: 0;
        display: block;
        margin-bottom: 10px;
        color: #fff;
    }
    nav ul li a {
        color:#FFF!important;
        opacity: 1!important;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        position: absolute!important;
        top: -100vh!important;
        left:0;
        bottom:0;
        right:0;
        z-index: 2;

        width: 100%;
        height: 100vh; 

        background-color: rgba(22,26,33,.7);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        padding: 50px 60px;

        transition: transform 0.6s;
    }
    .header-nav.open-h{
        transform: translateY(100vh)!important;
        /* background-color: red!important; */
        /* position: -webkit-sticky!important; 
        position: sticky!important; */
    }
    .header-close {
        display: block;
        margin-bottom: 20px;
        color: #FFF;
    }
    
    .header-button-mobile {
        display: block;
    }
    
}

.header-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media (max-width: 991px) {
    .header-button {
        display: none;
    }
}

.header-hamburger {
    display: none;
    color:#1B433C;
    font-size: 28px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .header-hamburger {
        height: 100%;
        font-size: 22px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.header-dark .header-hamburger {
    color:#fff;
}

.button {
    display: inline-block;
    
    padding: 8px 38px;

    border-radius: 30px;
    

    text-decoration: none;
    font-family: 'volkhov', serif;
    font-weight: 700;
    font-size: 18px;

    transition:  0.35s;
}
@media (max-width: 991px) {
    .button {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .button {
        font-size: 14px;
    }
}
.button:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
    transform: translateY(-4px);
}

.hero .container .row .hero-text .button:hover {
    
    transform: translateY(-4px);
}

.btn-white {
    background-color: #fff;
    color: #000;
    /* border: solid 1px #ccc; */

}
.btn-white:hover {
    color: #000;
}

.btn-green {
    background-color: #698A7A;
    color: #fff;
}
.btn-green:hover {
    color: #fff;
}

.hero {
    padding: 70px 0;
}

.hero .hero-text {
    padding-left: 0;
    padding-right: 60px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .hero-text .main-heading {
    color: #0C3533;
    font-size: 72px;
    margin-bottom: 35px;
}
@media (max-width: 991px) {
    .hero .hero-text .main-heading {
        font-size: 48px;
    }
}
@media (max-width: 768px) {
    .hero .hero-text .main-heading {
        font-size: 40px;
    }
}

.hero-img {
    /* height: 100%; */
    height: 500px;
    background: url("../images/home_header.png") no-repeat 50% 50%;
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}
@media (max-width: 991px) {
    .hero-img {
        height: 350px;
    }
}
@media (max-width: 768px) {
    .hero-img {
        height: 300px;
    }
}

.hero-img img {
    width: 100%;
    max-height: 350px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}

.hero .hero-text .btn-green {
    margin-right: 45px;
}

.partners {
    
    padding: 15px 0 80px 0;
}

.partner-img {

    text-align: center;
    padding: 25px;
}

.partners p {
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 1200px) {
    .buttons-side a {
        margin: 10px 0;
    }
}

@media (max-width: 991px) {
    .buttons-side a {
        margin: 10px 0;
    }
}




.info-section {
    padding: 120px 0;
    background-color: #FFF4F1;
}

@media (max-width: 991px) {
    .high-school {
        padding: 80px 0 40px 0;
    }

    .cambodia-project {
        padding: 40px 0 80px 0;
    }
}

@media (max-width: 768px) {
    .high-school {
        padding: 60px 0 30px 0;
    }

    .cambodia-project {
        padding: 30px 0 60px 0;
    }
}


.info-img-left{
    display: flex;
    justify-content: start;
}

.info-img-right {
    display: flex;
    justify-content: end;
}

.info-img {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    align-content: center;
}

.info-img img{
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
    
    width: 100%;
    height: auto;
    max-height: 600px;
    
    
}

.info-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;

    padding: 0 20px;

    height: 100%;
}
@media (max-width: 768px) {
    .info-col {
        padding-top: 50px;
    }
}

.info-col h2{
    color: #1B433C;
    margin-bottom: 22px;
    font-size: 48px;
}
@media (max-width: 991px) {
    .info-col h2 {
        font-size: 32px;
    }
}
@media (max-width: 768px) {
    .info-col h2 {
        font-size: 24px;
    }
}

.info-col p {
    color: #606060;
    margin-bottom: 22px;
    font-size: 18px;
    text-align: justify;
}

@media (max-width: 991px) {
    .info-col p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .info-col p {
        font-size: 14px;
    }
}

.impact-numbers {
    padding: 80px 0;
    background-color: #698A7A;

    
}

.impact-numbers .container {
    width: 650px;
}

@media (max-width: 768px) {
    .impact-numbers .container {
        width: auto;
    }
}

.impact-numbers .box-number {
    display: flex;
    flex-direction: column;
    align-items: center;

    color:#fff;
}

.impact-numbers .box-number h3 {
    font-size: 32px;
}

.impact-numbers .box-number p {
    font-size: 18px;
    text-align: center;
}

.impact-numbers .box-number img {
    margin-bottom: 18px;
    width: 64px;
    height: auto;
} 

.cta {
    background-color: #FFF4F1;
    padding-top: 120px;
    padding-bottom: 220px;
}

.cta .cta-box {
    background-color: #698A7A;
    padding: 40px 0;
    margin: 0 10px;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}

@media (max-width: 768px) {
    .cta .cta-box {
        padding: 20px;
    }
}

.cta .cta-box-in {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cta .cta-box-in h3{
    color:#fff;
    margin-bottom: 22px;
    text-align: center;
}

.cta .cta-box-in p{
    color:#fff;
    margin-bottom: 22px;
    text-align: justify;
}

.footer {
    background-color: #0C3533;
    padding: 60px 0 40px 0;
    color: #F1FAEE;
}

.footer nav ul li a{
    color: #F1FAEE;
    text-decoration: none;
    
}

.footer .soc-med{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.footer .container .soc-med a i {
    color:#F1FAEE;
    opacity: 0.5;
    /* margin-left: 24px;  */
    padding: 0 12px;
    font-size: 18px;
    transition: 0.35s;
}
.footer .container .soc-med a i:hover {
    opacity: 100%;
    
}

#footer-row-1 {
    margin-bottom: 2px;
}
#footer-row-2 {
    margin-bottom: 2px;
}

.footer nav ul li {
    color: #F1FAEE;
    display: block;
    margin-bottom: 12px;
}
@media (max-width: 991px) {
    .footer nav ul {
        text-align: start;
    }
}

.footer-content {
    display: flex;
    padding-bottom: 20px;
}

.footer-content .contact-info a{
    color:#FFF4F1;
    opacity: 0.6;
}
.footer-content .contact-info a:hover{
    color:#FFF4F1;
    opacity: 1;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-content .footer-logo {
        margin-bottom: 28px;
    }
    .footer-content .footer-nav {
        margin-bottom: 28px;
    }
    
    .footer-content .contact-info i {
        display: none;
    }

}

.footer-legal {
    display: flex;
    padding-top: 20px;
    border-top: solid #698A7A 1px;
}

.footer-legal p {
    margin: 0;
    font-size: 14px;
    opacity: 0.4;
}


/*  */
/* About Page */
/*  */
/*  */

.header-dark {
    background: url(../images/bg_about.jpg) no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-work {
    background: url(../images/bg_work.png) no-repeat 50% 50%!important;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-dark .header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.banner {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-dark .hero-text {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-dark .hero-text h1{
    font-size: 72px;
    color: #FFF;
}

.header-dark nav ul {
    margin: 0;
    padding: 0;

}

.header-dark nav ul li{
    display: inline-block;
    margin-right: 48px;
    font-size: 18px;
    opacity: 40%;
    
    color:#FFF;
    transition: 0.35s;
}

.header-dark nav ul li a {
    text-decoration: none;
    color:#FFF;
    transition: 0.35s;
}

.header-dark nav ul li:hover {

    opacity: 100%;
}

@media (max-width: 991px) {
    .header-dark nav {
        /* margin-left: 10px; */
        margin-bottom: 20px;
    }

    .header-dark nav ul {
        text-align: end;
    }

    .header-dark nav ul li {
        margin-right: 0;
        display: block;
        
    }
    .header-dark nav ul li a {
        color:#FFF4F1!important;
        opacity: 1!important;
    }

    .header-dark .header-nav {
        /* display: none; */

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        position: absolute!important;
        top: -100vh!important;
        /* left: -100vw!important; */
        left:0;
        bottom:0;
        right:0;
        z-index: 2;

        width: 100%;
        height: 100vh; 

        background-color: rgba(22,26,33,.7);
        padding: 50px 60px;

        transition: transform 0.6s;
    }
    .header-dark .header-nav.open-h{
        transform: translateY(100vh)!important;
        /* background-color: red!important; */
        /* position: -webkit-sticky!important; 
        position: sticky!important; */
    }
    
    
    .header-dark .header-button-mobile {
        display: block;
    }
}

.intro {
    padding: 80px 0;
    background-color: #0C3533;
    text-align: center;
    color: #FFF4F1;
}

.beginning {
    padding: 80px 0;
    background-color: #698A7A;
    text-align: center;
    color: #FFF4F1;
}

.beginning img {
    margin-bottom: 30px;

    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}

.founder .info-img img {
    max-height: 600px;
}

.founder h2 {
    color:#1B433C;
}

.people {
    padding: 60px 0 120px 0;
    background-color: #FFF4F1;

    
}

.people h2 {
    margin-bottom: 70px;
    color: #1B433C;
    font-size: 48px;
}

.people h3 {
    color: #606060;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 24px;
}

@media (max-width: 991px) {
    .people h3 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .people h3 {
        font-size: 16px;
    }
}

.people h4 {
    color: #606060;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width: 991px) {
    .people h4 {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .people h4 {
        font-size: 12px;
    }
}

.people .row{
    text-align: center;
}

.people img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);

    margin-bottom: 28px;
}

.people-box {
    padding: 20px;
}

.gallery {
    height: 700px;
    width: 100%;
    /* background: url(../images/bg_about.png) no-repeat 50% 50%; */
    background-size: cover;
    background-attachment: fixed;
}

.mySlider {
    width: 100%;
    
}

.mySlide {
    position: relative;
    width: 100%;
}

.mySlide .slider-image {
    height: 700px;
    width: 100%;
    background-color: #000;
    background-size: cover;
}

#slide-1 {
    background: url(../images/bg_about.png) no-repeat center center;
    background-size: cover;
}

#slide-2 {
    background: url(../images/bg_slider.png) no-repeat center center;
    background-size: cover;
}

#slide-3 {
    background: url(../images/bg_fhs.png) no-repeat center center;
    background-size: cover;
}

.mySlide h2 {
    position: absolute;
    bottom: 100px;
    left: 100px;
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 55px;
}

/*  */
/* OUR WORK */
/*  */
/*  */

.banner {
    height: 100%;
    display: flex;
    align-items: center;
}

.video {
    padding: 120px 0;
    background-color: #1B433C;
    text-align: center;
    color: #FFF4F1;
}

.video-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

iframe {
    padding: 0;
    height: 720px;
    width: 1280px;
    z-index: 2;
}
@media (max-width: 991px) {
    iframe {
        width: 854px;
        height: 480px;
    }
}
@media (max-width: 768px) {
    iframe {
        width: 480px;
        height: 270px;
    }
}
@media (max-width: 449px) {
    iframe {
        width: 320px;
        height: 180px;
    }
}

.open-pop {
    width: 1024px;
    height: 576px;
    background-image: url("../images/bg_vid.png");
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
    cursor: pointer;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    transition: 0.35s;
}
@media (max-width: 991px) {
    .open-pop {
        width: 640px;
        height: 360px;
    }
}
@media (max-width: 768px) {
    .open-pop {
        width: 320px;
        height: 180px;
    }
}



.open-pop i {
    color: white;
    font-size: 90px;
    transition: 0.35s;
    opacity: 0.4;
}
@media (max-width: 991px) {
    .open-pop i {
        font-size: 70px;
    }
}
@media (max-width: 768px) {
    .open-pop i {
        font-size: 50px;
    }
}

.open-pop:hover i {
    transform: translateY(-4px);
    opacity: 1;
}

.open-pop:hover {
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}



.popup__close {
    position: fixed;
    top: 20px;
    left: 0;
    right: 20px;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.popup__mask {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    
    
    height: 100%;
    width: 100%;
    background-color: rgba(22,26,33,.7);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    opacity: 0;
    transition: opacity 0.4s;
}
.open .popup__mask {
    opacity: 1;
}

.popup__box {
    padding: 0;
    position: absolute;
    z-index: 2;

    width: 560;
    height: 315;


    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.3s;
}

.open .popup__box {
    opacity: 1;
    transform: translateY(0);
}

.popup__close {
    float: right;
    cursor: pointer;
}

.fickry-hs .info-img img {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
}

@media (max-width: 768px) {
    .fickry-hs .info-img img {
        position: static;
    }
}

.the-cambodia-project .info-img img {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 50px;
}
@media (max-width: 768px) {
    .the-cambodia-project .info-img img {
        position: static;
    }
}

.big-text {
    background-color: #698A7A;
    text-align: center;
    color: #FFF4F1;
}

.donate {
    background-color: #FFF4F1;
}

.donate-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.donate-img img {
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
    width: 800px;
    height: auto;
}
@media (max-width: 991px) {
    .donate-img img {
        width: 600px;
        height: auto;
    }
}
@media (max-width: 768px) {
    .donate-img img {
        width: 400px;
        height: auto;
    }
}
@media (max-width: 449px) {
    .donate-img img {
        width: 250px;
        height: auto;
    }
}


/*  */
/* Contact */
/*  */
/*  */

.contact-info a{
    text-decoration: none;
    color: #698A7A;
}

.contact-info a:hover {
    color: #0C3533;
    
}

.form {
    font-size: 18px;
    padding: 120px 0;
    background-color: #FFF4F1;
}

input, textarea {
    border-radius: 0px!important;
    
}

input[type="checkbox"] {
    display: inline-block;
}

input:required, textarea:required{
    border-left: solid 4px #698A7A;
}  


.form form {
    padding: 32px 24px;
    background-color: #FFF;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 10%);
}

/* Cross page classes */

.active {
    opacity: 100%!important;
    /* border-bottom: solid 3px #FFF; */
}


.h1-basics {
    font-size: 72px;
    margin-bottom: 32px;
}
@media (max-width: 991px) {
    .h1-basics {
        font-size: 48px;
    }
}
@media (max-width: 768px) {
    .h1-basics {
        font-size: 40px;
    }
}

.h2-basics {
    margin-bottom: 30px;
    font-size: 48px;
}
@media (max-width: 991px) {
    .h2-basics {
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    .h2-basics {
        font-size: 32px;
    }
}

.h3-basics {
    font-size: 32px;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .h3-basics {
        font-size: 28px;
    }
}
@media (max-width: 768px) {
    .h3-basics {
        font-size: 24px;
    }
}

.p-basics {
    font-size: 18px;
}
@media (max-width: 991px) {
    .p-basics {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .p-basics {
        font-size: 14px;
    }
}

.section-basics {
    padding: 120px 0;
}

.form .btn-green {
    border: none;
    margin-right: 24px;
}

.form .btn-white {
    border: solid 1px #ccc;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

